/***
 *	html5doctor.com Reset Stylesheet
 *	v1.7
 *	Last Updated: 2021-02-09
 *	Author: Richard Clark - http://richclarkdesign.com - @rich_clark
 *	Updated By: Amy Zala (amy@thisgals.com)
 ***/
html, body, div, span, object, iframe, a, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 1em;
	vertical-align: baseline;
	background: transparent;
	background-repeat: no-repeat;
	font-family: inherit;
	line-height: inherit;
	font-weight: inherit;
	font-style: inherit;
	color: inherit;
}

body {
	line-height: 1.1em;
}

html, body {
	width: 100%;
	height: 100%;
}

nav ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}