
DirectoryIndex index.php

RewriteEngine On
RewriteBase /

# Prevent Infinite Loop
RewriteRule ^includes/library/base.php$ - [L,NC]

# Prevent direct access to includes and config files
RewriteRule ^includes/(.*)$ 404 [L,NC]

# Rewrite appropiate URLs to our engine
RewriteRule ^$ includes/library/base.php [L,NC,QSA]
RewriteRule ^(.*)/$ includes/library/base.php [L,NC,QSA]
RewriteRule ^((.*/)*([^/\.]+))$ includes/library/base.php [L,NC,QSA]
RewriteRule ^(.*)\.(php|phtml|json|html|xml|css)$ includes/library/base.php [L,NC,QSA]