<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="^includes/library/base-web.php$" />
                    <action type="None" />
                </rule>
                <rule name="Imported Rule 2" stopProcessing="true">
                    <match url="^includes/(.*)$" />
                    <action type="Rewrite" url="404.html" />
                </rule>
                <rule name="Imported Rule 3" stopProcessing="true">
                    <match url="^(.*)\.ini$" />
                    <action type="Rewrite" url="404.html" />
                </rule>
                <rule name="Imported Rule 4" stopProcessing="true">
                    <match url="^$" />
                    <action type="Rewrite" url="includes/library/base-web.php" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 5" stopProcessing="true">
                    <match url="^(.*)/$" />
                    <action type="Rewrite" url="includes/library/base-web.php" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 6" stopProcessing="true">
                    <match url="^((.*/)*([^/\.]+))$" />
                    <action type="Rewrite" url="includes/library/base-web.php" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 7" stopProcessing="true">
                    <match url="^(.*)\.(php|phtml|json|html|xml|css)$" />
                    <action type="Rewrite" url="includes/library/base-web.php" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
