<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Prevent Recursion" stopProcessing="true">
                    <match url="^includes/library/base.php$" />
                    <action type="None" />
                </rule>
                <rule name="Protect includes and configs" stopProcessing="true">
                    <match url="^includes/(.*)$" />
                    <action type="Rewrite" url="404.html" />
                </rule>
                <rule name="Base URL" stopProcessing="true">
                    <match url="^$" />
                    <action type="Rewrite" url="includes/library/base.php" appendQueryString="true" />
                </rule>
                <rule name="Top Level Pages" stopProcessing="true">
                    <match url="^(.*)/$" />
                    <action type="Rewrite" url="includes/library/base.php" appendQueryString="true" />
                </rule>
                <rule name="Sub-folders and Pages" stopProcessing="true">
                    <match url="^((.*/)*([^/\.]+))$" />
                    <action type="Rewrite" url="includes/library/base.php" appendQueryString="true" />
                </rule>
                <rule name="Register all extensions" stopProcessing="true">
                    <match url="^(.*)\.(php|phtml|json|html|xml|css)$" />
                    <action type="Rewrite" url="includes/library/base.php" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
		<handlers>
            <remove name="xoml-ISAPI-4.0_64bit" />
            <remove name="xoml-ISAPI-4.0_32bit" />
            <remove name="xoml-ISAPI-2.0" />
            <remove name="xoml-Integrated-4.0" />
            <remove name="xoml-Integrated" />
            <remove name="xoml-64-ISAPI-2.0" />
            <remove name="xamlx-ISAPI-4.0_64bit" />
            <remove name="xamlx-ISAPI-4.0_32bit" />
            <remove name="xamlx-Integrated-4.0" />
            <remove name="WebServiceHandlerFactory-ISAPI-4.0_64bit" />
            <remove name="WebServiceHandlerFactory-ISAPI-4.0_32bit" />
            <remove name="WebServiceHandlerFactory-ISAPI-2.0-64" />
            <remove name="WebServiceHandlerFactory-ISAPI-2.0" />
            <remove name="WebServiceHandlerFactory-Integrated-4.0" />
            <remove name="WebServiceHandlerFactory-Integrated" />
            <remove name="WebAdminHandler-Integrated-4.0" />
            <remove name="WebAdminHandler-Integrated" />
            <remove name="vbhtml-ISAPI-4.0_64bit" />
            <remove name="vbhtml-ISAPI-4.0_32bit" />
            <remove name="vbhtml-Integrated-4.0" />
            <remove name="vbhtm-ISAPI-4.0_64bit" />
            <remove name="vbhtm-ISAPI-4.0_32bit" />
            <remove name="vbhtm-Integrated-4.0" />
            <remove name="TraceHandler-Integrated-4.0" />
            <remove name="TraceHandler-Integrated" />
            <remove name="svc-ISAPI-4.0_64bit" />
            <remove name="svc-ISAPI-4.0_32bit" />
            <remove name="svc-ISAPI-2.0-64" />
            <remove name="svc-ISAPI-2.0" />
            <remove name="svc-Integrated-4.0" />
            <remove name="svc-Integrated" />
            <remove name="SimpleHandlerFactory-ISAPI-4.0_64bit" />
            <remove name="SimpleHandlerFactory-ISAPI-4.0_32bit" />
            <remove name="SimpleHandlerFactory-ISAPI-2.0-64" />
            <remove name="SimpleHandlerFactory-ISAPI-2.0" />
            <remove name="SimpleHandlerFactory-Integrated-4.0" />
            <remove name="SimpleHandlerFactory-Integrated" />
            <remove name="ScriptResourceIntegrated-4.0" />
            <remove name="ScriptHandlerFactoryAppServices-Integrated-4.0" />
            <remove name="rules-ISAPI-4.0_64bit" />
            <remove name="rules-ISAPI-4.0_32bit" />
            <remove name="rules-ISAPI-2.0" />
            <remove name="rules-Integrated-4.0" />
            <remove name="rules-Integrated" />
            <remove name="rules-64-ISAPI-2.0" />
            <remove name="PageHandlerFactory-ISAPI-4.0_64bit" />
            <remove name="PageHandlerFactory-ISAPI-4.0_32bit" />
            <remove name="PageHandlerFactory-ISAPI-2.0-64" />
            <remove name="PageHandlerFactory-ISAPI-2.0" />
            <remove name="PageHandlerFactory-Integrated-4.0" />
            <remove name="PageHandlerFactory-Integrated" />
            <remove name="HttpRemotingHandlerFactory-soap-ISAPI-4.0_64bit" />
            <remove name="HttpRemotingHandlerFactory-soap-ISAPI-4.0_32bit" />
            <remove name="HttpRemotingHandlerFactory-soap-ISAPI-2.0-64" />
            <remove name="HttpRemotingHandlerFactory-soap-ISAPI-2.0" />
            <remove name="HttpRemotingHandlerFactory-soap-Integrated-4.0" />
            <remove name="HttpRemotingHandlerFactory-soap-Integrated" />
            <remove name="HttpRemotingHandlerFactory-rem-ISAPI-4.0_64bit" />
            <remove name="HttpRemotingHandlerFactory-rem-ISAPI-4.0_32bit" />
            <remove name="HttpRemotingHandlerFactory-rem-ISAPI-2.0-64" />
            <remove name="HttpRemotingHandlerFactory-rem-ISAPI-2.0" />
            <remove name="HttpRemotingHandlerFactory-rem-Integrated-4.0" />
            <remove name="HttpRemotingHandlerFactory-rem-Integrated" />
            <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
            <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
            <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
            <remove name="cshtml-ISAPI-4.0_32bit" />
            <remove name="cshtml-Integrated-4.0" />
            <remove name="cshtm-ISAPI-4.0_64bit" />
            <remove name="cshtm-ISAPI-4.0_32bit" />
            <remove name="cshtm-Integrated-4.0" />
            <remove name="AXD-ISAPI-4.0_64bit" />
            <remove name="AXD-ISAPI-4.0_32bit" />
            <remove name="AXD-ISAPI-2.0-64" />
            <remove name="AXD-ISAPI-2.0" />
            <remove name="AssemblyResourceLoader-Integrated-4.0" />
            <remove name="AssemblyResourceLoader-Integrated" />
            <remove name="aspq-ISAPI-4.0_64bit" />
            <remove name="aspq-ISAPI-4.0_32bit" />
            <remove name="aspq-Integrated-4.0" />
            <remove name="cshtml-ISAPI-4.0_64bit" />
            <add name="PHP_via_FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="D:\Utils\PHP\5.6\php-cgi.exe" resourceType="Either" requireAccess="Script" />
        </handlers>
        <defaultDocument>
            <files>
                <remove value="Default.asp" />
                <remove value="Default.htm" />
                <remove value="iisstart.htm" />
                <remove value="default.aspx" />
                <add value="index.php" />
            </files>
        </defaultDocument>
        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
