<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Prevent Recursion" stopProcessing="true">
                    <match url="^includes/library/base.php$" />
                    <action type="None" />
                </rule>
                <rule name="Protect includes and configs" stopProcessing="true">
                    <match url="^includes/(.*)$" />
                    <action type="Rewrite" url="404.html" />
                </rule>
                <rule name="Base URL" stopProcessing="true">
                    <match url="^$" />
                    <action type="Rewrite" url="includes/library/base.php" appendQueryString="true" />
                </rule>
                <rule name="Top Level Pages" stopProcessing="true">
                    <match url="^(.*)/$" />
                    <action type="Rewrite" url="includes/library/base.php" appendQueryString="true" />
                </rule>
                <rule name="Sub-folders and Pages" stopProcessing="true">
                    <match url="^((.*/)*([^/\.]+))$" />
                    <action type="Rewrite" url="includes/library/base.php" appendQueryString="true" />
                </rule>
                <rule name="Register all extensions" stopProcessing="true">
                    <match url="^(.*)\.(php|phtml|json|html|xml|css)$" />
                    <action type="Rewrite" url="includes/library/base.php" appendQueryString="true" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
